# Crawler (ela.gov)

● code完成於2019/3/17凌晨，當時網站上能蒐集到的庫存資料自1982/08/20至2019/03/08。

● 由於需要處理".xls"檔，故需執行"pip install xlrd"。

In [120]:
from selenium import webdriver
import time
import os
import pandas as pd
import datetime

In [121]:
file = "psw01.xls"

# Check if the file exists to avoid repeated downloads.

if os.path.isfile(file) == False:
    # Determine download directory.
    
    here = os.getcwd()
    options = webdriver.ChromeOptions()
    prefs = {"download.default_directory": here}
    options.add_experimental_option("prefs", prefs)
    
    driver = webdriver.Chrome("chromedriver.exe",chrome_options=options)
    url = "https://www.eia.gov/petroleum/supply/weekly/"
    driver.get(url)
    xls = driver.find_element_by_link_text("XLS").click()
    time.sleep(12)
    driver.quit()

In [122]:
# Data processing.

data = pd.read_excel(file,sheet_name = None)
table = data.get("Data 1")
cols = table.columns
tmp = table.loc[:,cols[0]].tolist()

# Set the form of "Date" to "yyyy-mm-dd".

for i in range(2,len(tmp)):
    tmp[i] = "{:%Y-%m-%d}".format(tmp[i])
table.loc[:,cols[0]] = pd.Series(tmp)

# Set columns' name and create the frame.

table.rename(columns = {cols[0] : "Date",cols[2] : "Value"},inplace = True)
table.set_index("Date", inplace=True)
t = table.Value[2:]
t = t.to_frame()
t.reset_index("Date", inplace=True)
t

            Date   Value
0     1982-08-20  338764
1     1982-08-27  336138
2     1982-09-24  335586
3     1982-10-01  334786
4     1982-10-08  335260
5     1982-10-15  326979
6     1982-10-22  334370
7     1982-10-29  333067
8     1982-11-05  331057
9     1982-11-12  323448
10    1982-11-19  331264
11    1982-11-26  325639
12    1982-12-03  332447
13    1982-12-10  337943
14    1982-12-17  338912
15    1982-12-24  335061
16    1982-12-31  330150
17    1983-01-07  326701
18    1983-01-14  339028
19    1983-01-21  334178
20    1983-01-28  339617
21    1983-02-04  332527
22    1983-02-11  338719
23    1983-02-18  342040
24    1983-02-25  349452
25    1983-03-04  339216
26    1983-03-11  341753
27    1983-03-18  335901
28    1983-03-25  337155
29    1983-04-01  331215
...          ...     ...
1872  2018-08-17  408358
1873  2018-08-24  405792
1874  2018-08-31  401490
1875  2018-09-07  396194
1876  2018-09-14  394137
1877  2018-09-21  395989
1878  2018-09-28  403964
1879  2018-10-05  409951
1880  2018-10-12  416441
1881  2018-10-19  422787
1882  2018-10-26  426004
1883  2018-11-02  431787
1884  2018-11-09  442057
1885  2018-11-16  446908
1886  2018-11-23  450485
1887  2018-11-30  443162
1888  2018-12-07  441954
1889  2018-12-14  441457
1890  2018-12-21  441411
1891  2018-12-28  441418
1892  2019-01-04  439738
1893  2019-01-11  437055
1894  2019-01-18  445025
1895  2019-01-25  445944
1896  2019-02-01  447207
1897  2019-02-08  450840
1898  2019-02-15  454512
1899  2019-02-22  445865
1900  2019-03-01  452934
1901  2019-03-08  449072

[1902 rows x 2 columns]